   @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,400;0,500;1,600;1,700;1,800&family=Roboto+Condensed:ital@1&display=swap');
*,*::before, *::after{
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  color: #000;
  letter-spacing: 0.05em;
}
     /* general css */

  .fix {
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .clear {
    clear: both;
  }
 
  .container{
    max-width: 1170px;
  }

@media only screen and (max-width: 767px){
  .container{
    width: 450px;
  }
}

  @media only screen and (max-width: 767px) {
    .container {
      width: 100%;
    }
  }

  .capitalize {
    text-transform: capitalize;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .no-gutter>.col, .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }

  .off_canvas_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    cursor: crosshair;
    background: #000;
    top: 0;
  }
  

  .off_canvas_overlay:active{
    opacity: 0.5;
    visibility: none;
  }

  .offcanvas {
    display: none;
  }

  @media only screen and (max-width: 768px) and (max-width: 991px) {
    .offcanavs_menu {
      display: block;
    }
  }

  @media only screen and (max-width: 767px) {
    .offcanvas_menu {
      display: block;
    }
    .offcanvas_two .canavsopen {
      top: 18px;
    }
  }

  .offcanvas_two .canvas_open a:hover {
    color: #cc9900;
    border-color: #cc9900;
  }

  .canavas_open {
    position: absolute;
    right: 17px;
    top: 34px;
    z-index: 9;
  }

  @media only screen and (min-width:768px) and (max-width: 991px) {
    .canvas_open {
      right: 25px;
      top: 26px;
    }
  }

  @media only screen and (max-width: 767px) {
    .canavas_open {
     right:19px;
     top: 28px;
    }
  }

  .canvs_open a {
    font-size: 30px;
    width: 43px;
    height: 40px;
    display: block;
    line-height: 39px;
    text-align: center;
    color: #555;
    border: 1px solid #555;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .canvas_open a {
      width: 33px;
      height: 33px;
      line-height: 30px;
      font-size: 26px;
    }
  }

  @media only screen and (max-width: 767px) {
    .canvas_open a {
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 24px;
    }
  }

.canvas_open a:hover {
  color: #bda87f;
  border-color: #bda87f;
}

.canvas_close {
  position: absolute;
  top: 10px;
  right: 13px;
}

.canvas_close a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 31px;
  border: 1px solid #8b1b46;
  border-radius: 50%;
  color: #58240c;
}

.canvas_close a:hover {
  background: #bda87f;
  border-color: #bda87f;
  color: aliceblue;
}

.offcanvas_menu_wrapper{
  width: 290px;
  position: fixed;
  background: #fff;
  z-index: 99;
  top: 0;
  height: 100vh;
  transition: 0.5s;
  left: 0;
  margin-left: 300px;
  padding: 50px 15px 30px;
  overflow-y: auto;
}

.offcanvas_menu_wrapper .active {
  margin-left: 0;
}

.offcanvas_menu_wrapper .header_account{
  display: block;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.header_account {
  margin-right: 25px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_account {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 991px) {

    .header_account {
      display: none;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }
@media only screen and (max-width: 767px) {
  .header_account {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}  

@media only screen and (max-width:767px) {
  .header_account {
    display: none;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}
  

.header_account>ul>li {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

.headder>ul>li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .header_account>ul>li {
    margin-right: 0;
  }
  .header_account>ul>li:hover>a {
    color: #fff;
  }
}

@media only screen and (max-width: 757px) {
  .header_account>ul>li {
    margin-right: 0;
}

.header_account>ul>li:hover>a {
  color: #fff;
}

.header_account>ul>li:hover ul.dropdown_currency, .header_account>ul>li:hover ul .dropdown_language, .header_account>ul>li:hover ul.dropdown_links{
  visibility: visible;
  max-height: 200px;
}

.header_account> ul > li:hover> a {
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width:991px) {
  .header_account>ul>li:hover>a {
    color: #bda87f;
  }
}

@media only screen and (max-width: 767px) {
  .header_account>ul>li:hover>a {
      color: #bda87f;
  }
}

.header_account>ul>li> a {
  text-transform: uppercase;
  line-height: 50px;
  font-size: 12px;
  display: inline-block;
  font-weight: 400;
  color: #999;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_account>ul>li>a {
    line-height: 22px;
    color: #000;
  }
}

@media only screen and (max-width: 767px) {
  .header_account>ul>li>a {
    line-height: 22px;
    color: #000;
  }
}

.header_account>ul>li>a i{
  margin-left: 3px;
}

.header_account>ul>li img {
  margin-right: 4px;
}

.header_account>ul>li:hover a:not([href]):not([tabindex]) {
  color: #bda87f;
}

.dropdown_currency
.dropdown_language
.dropdown_links {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
  min-width: 130px;
  text-align: left;
  top: 100%;
  left: 0;
  transition: all 0.5s ease-out;
  overflow: hidden;
  border-radius: 3px;
     
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropdown_currency, .dropdown_language, .dropdown_links {
    left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .dropdown_currency, .dropdown_language, .dropdown_links {
    left: 30px;
  }
}
.dropdown_currency li a, .dropdown_language li a, .dropdown_links li a {
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  white-space: nowrap;
  padding: 8px 8px 8px 20px;
  line-height: 20px;
  color: #000;
}

.dropdown_currency li a:hover, .dropdown_language li a:hover, .dropdown_links li a:hover {
  background: #f2f2f2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropdown_language {
    left: -10px;
  }
}

@media only screen and (max-width: 767px) {
  .dropdown_language {
    left: -10px;
  }
}

.dropdown_links {
  right: 0;
  left: auto;
}

.offcanvas_menu_wrapper .header_right_info {
  display: block;
  margin-bottom: 25px;
}

.offcanvas_menu_wrapper .header_right_info>ul>li>a {
  color: #000;
}

.header_right_info {
  text-align: right;
  margin-left: 15px;
}
   
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_right_info {
    display: none;
    text-align: center;
    margin: 0;
    
  }
}

@media only screen and (max-width: 767px) {
  .header_right_info {
    display: none;
    text-align: none;
    margin: 0;
  }
}

.header_right_info>ul>li {
  color: #cc9900;
}

.header_right_info>ul>li>a {
  font-size: 20px;
  color: #999;
}

.search_widget {
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 99;
  display: none;
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_widget {
    left: 68px;
    right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .search_widget {
    left: -68;
    right: auto;
  }
}

.search_widget form {
  position: relative;
  width: 400px;
  border: 1px solid #ebebeb;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .search_widget form {
    width: 225px;
  }
}
 
@media only screen and (min-width: 767px)  {
  .search_widget form {
    width: 225px;
  }
}

.search_widget form input {
  padding: 10px 40px 10px 15px;
  height: 41px;
  line-height: 30px;
  font-size: 12px;
  color: #222;
  border: none;
  width: 100%;
  background: #f7f7f7;
}

@media only screen and (max-width: 767px) {
  .search_widget form input {
    padding: 8px 40px 8px 15px;
    height: 38px;
  }
}

.search_widget form button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100px;
  border: 0;
  background: none;
  font-size: 16px;
}

.search_widget form button:hover {
  color: #cc9900;
}

.header_wishlist span.item_count {
  position: absolute;
  top: -6px;
  right: -14px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 100%;
  text-align: center;
  background: #cc9900;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.mini_cart_wrapper:hover .mini_cart {
  max-height: 550px;
  padding: 20px 28px 33px;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mini_cart_wrapper:hover .mini_cart {
    padding: 10px 11px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .mini_cart_wrapper:hover .mini_cart {
    padding: 10px 11px 20px;
  }
}

.mini_cart_wrapper span.item_count {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border-radius: 100%;
  text-align: center;
  background: #cc9900;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}


.mini_cart {
  position: absolute;
  min-width: 355px;
  padding: 0 28px;
  background: #fff;
  border: 0;
  z-index: 999;
  right: 0;
  top: 142%;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  border: 1px solid #ebebeb;
  transition: all 0.5s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mini_cart {
    display: none;
    transition: unset;
    padding: 10px 11px 20px;
    min-width: 253px;
    right: 69px;
    max-height: inherit;
    visibility: inherit;
  }
}

.mini_cart2 .cart_info a:hover {
  color: #cc9900 !important;
}

.mini_cart2 .cart_img:hover {
  border-color: #cc9900;
  background: #cc9900;
}

.cart_item {
  overflow: hidden;
  padding: 11px 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-around;
}

.cart_img {
  width: 70px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.cart_img:hover {
  border-color: #cc9900 !important
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cart_img {
    width: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .cart_img {
    width: 70px;
  }
}

.cart_info {
  width: 60px;
  text-align: left;
  top: 20px;
  position: relative;
  color: #000;
}

.cart_info a {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-bottom: 6px;
  color: #000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cart_info a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .cart_info a {
    font-size: 13px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.cart_info a:hover {
  color:#cc9900;
  text-decoration: none;
}

.cart_onfo p {
  font-size: 12px;
}
.cart_info p span {
  font-size: 16px;
  font-weight: 600;
}

.cart_remove a {
  font-size: 15px;
  border: 1px solid #ebebeb;
  width: 20px;
  height: 20px;
  display: block;
  line-height: center;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #555;
}
.cart_remove a:hover {
  background: #cc9900;
  border-color: #cc9900;
  color: #fff;
}

.cart_remove a i {
  display: block;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.mini_cart_table {
  padding: 23px 0px;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.cart_total span {
  font-size: 14px;
  font-weight: 400px;
}

.cart_total span.price {
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cart_total span {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .cart_total span {
    font-size: 13px;
  }
}

.cart_button:first-child {
  margin-bottom: 15px;
}

.cart_button a {
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  padding: 10px 0px;
  color: #000;
  border: 2px solid #000;
  text-decoration: none;
}

.cart_button a:hover {
  color: #fff;
  border-color: #cc9900;
}

.offcanavs_main_menu lo a:hover {
  color: #cc9900;
}

.offcanvas_main_menu li ul.sub-menu {
  padding-left: 20px;
}

.offcanavs_main_menu>li ul li.menu-item-has-children.menu-open span.menu-expand {
  transform: rotate(180deg);
}

.offcanavas_main_menu li {
  position: relative;
}

.offcanvas_main_menu li {
  position: relative;
}

.offcanavas_main_menu li:last-child {
  margin: 0;
}

.offcanavas_main_menu li:last-child {
  margin: 0;
}

.offcanavas_main_menu li span.menu-expand {
  position: absolute;
  right: 0;
}

.offcanavas_main_menu li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #ebebeb;
}

a:focus{
  text-decoration: none !important;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: none !important;
}

.offcanavs_main_menu li a:hover {
  color:#cc9900
}

.offcanvas_main_menu li ul .sub-menu {
  padding-left: 20px;
}

p:last-child {
  margin-bottom: 0;
}

a, button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a, button, img, input, span {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
}

.offcanvas_footer {
  margin-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.offcanvas_footer span a:hover {
  color: #cc9900;
}

.offcanvas_fotter ul li {
  display: inline-block;
  margin-right: 4px;
}

.offcanavs_footer ul li a{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  color: #fff;
}

.offcanavs_footer ul li.facebook a {
  background: #3c5b9b;
}

.offcanavs_footer ul li.twitter a {
  background: #1da1f2;
}

.offcanvas_footer ul li.pinterest a {
  background: #bd081b;
}

.offcanvas_footer ul li.Linkedin a {
  background: #242492;
}

.offcanvas_footer ul li.google-plus a {
  background: #2af645;
}

.offcanavs_footer ul li.facebook a:hover {
  background: #cc9900;
}

.offcanavs_footer ul li.twitter a:hover {
  background: #cc9900;
}

.offcanavs_footer ul li.pinterest a:hover {
  background: #cc9900;
}

.offcanavs_footer ul li.linkedli a:hover {
  background: #cc9900;
}

.offcanavs_footer ul li.google-plus a:hover {
  background: #cc9900;
}

fa-envelope {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 13px;
  background: #9a1ee2;
  color: #fff;
}

.offcanvas_footer a {
  letter-spacing: 2px;
}

 /* ************************ */

 .header_transparent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_transparent {
    position: inherit;
  }
 }

 @media only screen and (max-width: 767px) {
  .header_transparent {
    position: inherit;
  }
 }

 .header_transparent .header_container {
  background: rgba(0, 0, 0, 0.9);
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_transparent .header_container {
    background: #1c1d22;
  }
 }

 @media only screen and (max-width: 767px) {
  .header_transparent .header_container {
    background: #1c1d22;
  }
 }

 .header_transparent .sticky-header.sticky {
  background: rgba(28, 29, 24, 0.7);
  padding: 8px 0;
 }

 .header_container {
  padding: 22px 0;
  background: #1c1d22;
 }

 @media only screen and (max-width: 767px) {
  .header_container {
    padding: 25px 0;
  }
 }

 .sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: rgba(28, 29, 24, 0.7);
  box-shadow: 0 1px 3px rgba(0,
   0, 0, 0.11);
   animation: faceInDown;
   animation-duration: 900ms;
   animation-timing-function: 
   cubic-bezier(0.2, 1, 0, 0.22, 1);
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   border-bottom: 0;
   display: block;
   padding: 10px 0;
 }

 @media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky-header.sticky {
    position: inherit;
    box-shadow: inherit;
    animation-name: inherit;
    padding: 0;
    background: inherit;
    opacity: inherit;
  }
 }

 @media only screen and (max-width: 767px) {
  .sticky-header.sticky {
    position: inherit;
    box-shadow: inherit;
    animation-name: inherit;
    padding: 0;
    background: inherit;
    opacity: inherit;
  }
 }

.sticky-header.sticky .logo a img {
  max-width: 118px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky-header.sticky .logo a img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .sticky-header.sticky .logo a img {
    max-width: 100px;
  }
}

.header_transparent .sticky-header.sticky {
  background: rgba(28, 29, 24, 0.7);
  padding: 8px 0;
}

@media only screen and (max-width: 767px) {
  .logo {
    display: inline-block;
  }
}

@media only screen and (max-width: 767px) {
  .logo a img {
    max-width: 110px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main_menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .main_menu {
    display: none;
  }
}

.main_menu nav>ul {
  display: flex;
  justify-content: flex-end;
}

.main_menu nav>ul>li {
  position: relative;
  flex-shrink: 0;
}

.main_menu nav>ul>li:hover ul.sub_menu {
  visibility: visible;
  max-height: 300px;
  padding: 24px 30px;
}

.main_menu nav>ul>li:hover .mega_menu {
  visibility: visible;
  max-height: 300px;
  padding: 25px 30px 30px 30px;
}

.main_menu nav>ul>li:hover>a {
  color: #cc9900;
}

.main_menu nav>ul.lia {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 23px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  color: #fff;
}

.main_menu nav>ul>li>a i {
  margin-left: 3px;
}

.main_menu nav>ul>li>a.active {
  color: #cc9900;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main_menu nav>ul>li {
    padding: 10px 15px;
  }
}

.main_menu nav>ul>li ul.sub_menu {
  position: absolute;
  min-width: 215px;
  padding: 0 30px;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  max-height: 0;
  transform-origin: 0 0 0;
  left: 0;
  right: auto;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s;
  z-index: 99;
  top: 100%;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main_menu nav>ul>li ul.sub_menu li a {
  font-size: 13px;
  font-weight: 400;
  display: block;
  line-height: 32px;
  text-transform: capitalize;
}